@import url(./fonts/fonts.css);

@keyframes main__heading {
  50% {
    letter-spacing: 10px;
  }
}

@keyframes main__heading-link {
  50% {
    letter-spacing: 10px;
  }
}

body {
  background-color: rgb(27, 26, 26);
  font-family: TW;
  margin: 0;
  padding: 30px;
}

.main__heading-link {
  transition: all 0.3s;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 5px;
  position: relative;
  padding: 5px;
  display: block;
  margin: 10px 0 40px;
  overflow: hidden;
}

.main__heading {
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus,
a:hover {
  text-decoration: none;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-size: 120px;
}

h2 {
  margin: 0 auto;
  font-size: 30px;
  color: white;
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
}

.menu {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 100px auto 0;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
  transition: all 0.2s;
}

.menu__link-img {
  width: 120px;
  height: 120px;
}

.menu__link:hover {
  transform: scale(1.1);
}

.menu__link-name {
  margin: 5px 0;
}

#signs {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#signs td {
  padding: 20px;
  border: 15px white inset;
}

#signs p {
  color: white;
  font-size: 35px;
  text-align: justify;
}

.signs {
  width: 70px;
  height: 70px;
}

.nations {
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
}

.nations_menu {
  list-style-type: none;
  padding: 0;
}

.nations__menu-item {
  padding: 5%;
}

.nations_map {
  text-align: center;
}

.nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  padding: 0 30px 30px;
}

.nav__link {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  transition: all 0.2s;
}

.nav__link-img {
  width: 50px;
  height: 50px;
}

.nav__link:hover {
  transform: scale(1.1);
}

.nav__link-name {
  margin: 5px 0;
}

#nations {
  margin: 400px auto 0;
  margin-top: 0%;
  border-collapse: collapse;
}

#nations td {
  text-align: center;
  padding-right: 30px;
}

.nation_name {
  color: white;
  text-align: center;
  font-size: medium;
  font-style: italic;
  text-align: center;
}

.nation_icon {
  width: 100px;
  height: 100px;
}

.nation_icon:hover {
  transform: scale(1.1);
}

.inverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#nilfgaard p {
  color: #c79b49;
  text-align: center;
}

.kingdom {
  margin-left: auto;
  margin-right: auto;
}

.kingdom td {
  padding: 15px;
}

.kingdom p {
  color: #c79b49;
  text-align: center;
}

#redania img {
  width: 400px;
  height: 400px;
}

#temeria td img {
  width: 500px;
  height: 680px;
}

#rivia td img {
  width: 500px;
  height: 400px;
}

#book {
  margin-left: auto;
  margin-right: auto;
}

#book td {
  text-align: center;
  color: white;
}

#book td img {
  width: 270px;
  height: 350px;
  transition: all 0.2s;
}

#book td img:hover {
  transform: scale(1.1);
}

#book p {
  padding-bottom: 15px;
}

#diccionario {
  margin-left: 300px;
  width: 70%;
  border-collapse: collapse;
}

#diccionario td {
  color: white;
  font-size: larger;
  border: 2px white solid;
}

.titles {
  font-weight: bold;
  text-align: center;
}

.letters {
  font-size: xx-large;
  text-align: center;
}

/* Nation */
.nation__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nation__header {
  padding: 20px;
}

.nation__subheading {
  color: white;
  font-size: 30px;
}

#redania .nation__subheading {
  color: #a90000;
  text-align: center;
}

#skellige .nation__subheading {
  text-align: center;
}

#temeria .nation__subheading {
  text-align: center;
}

#rivia .nation__subheading {
  text-align: center;
}

.nation__banner {
  margin: 0 30px;
}

#redania .nation__banner {
  margin: 0 30px;
  width: 170px;
}

#skellige .nation__banner_inverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#temeria .nation__banner {
  margin: 0 30px;
  width: 225px;
  height: 350px;
}

#rivia .nation__banner {
  width: 250px;
  height: 200px;
}

.nation__content {
  display: flex;
  padding: 50px;
}

.nation__map {
  width: 705px;
  height: 810px;
  margin-right: 50px;
}

#redania .nation__map {
  width: 400px;
  height: 450px;
}

#skellige .nation__map {
  width: 500px;
  height: 300px;
}

#rivia .nation__map {
  height: 400px;
}

.nation__description {
  padding: 30px;
  font-size: 23px;
}

.nation__paragraph {
  margin: 0;
}

#redania .nation__paragraph {
  color: #a90000;
}

#skellige .nation__paragraph {
  color: #584580;
}

#temeria .nation__paragraph {
  color: #2b4647;
}

#rivia .nation__paragraph {
  color: #456dff;
}
.nation__paragraph:not(:last-of-type) {
  margin-bottom: 20px;
}
