/* .nations {
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
}

.nations_menu {
  list-style-type: none;
  padding: 0;
}

.nations__menu-item {
  padding: 5%;
}

.nations_map {
  text-align: center;
} */

.nations__map {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  min-height: 750px;
  background: url(../../images/nations/mapa.jpg) 50% 50% no-repeat;
}

.nation {
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: contain;
}

.nation:hover {
  transform: scale(1.1);
}

.nation_name_nilfgaard {
  bottom: 80px;
  right: 100px;
}

.nation_name_redania {
  top: 130px;
  left: 550px;
}

.nation_name_temeria {
  top: 400px;
  left: 600px;
}

.nation_name_rivia {
  top: 20%;
  left: 85%;
}

.nation_name_skellige {
  left: 175px;
  bottom: 200px;
}
