/* .nations {
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
}

.nations_menu {
  list-style-type: none;
  padding: 0;
}

.nations__menu-item {
  padding: 5%;
}

.nations_map {
  text-align: center;
} */

.nations__map {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  min-height: 750px;
  background: url(../../images/nations/mapa.jpg) 50% 50% no-repeat;
}

.nation__link {
  position: absolute;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}

.nation__shield {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.nation__link:hover {
  transform: scale(1.1);
}

.nation__link_of_nilfgaard {
  bottom: 80px;
  right: 100px;
}

.nation__link_of_redania {
  top: 130px;
  left: 550px;
}

.nation__link_of_temeria {
  top: 400px;
  left: 600px;
}

.nation__link_of_rivia {
  top: 20%;
  left: 85%;
}

.nation__link_of_skellige {
  left: 175px;
  bottom: 200px;
}

.nation__name {
  margin: 0;
  background-color: #000;
  text-align: center;
  padding: 2px;
}
